root { 
    display: block;
}
h1,p {
    text-align:center;
}

#xml,#json {
    text-align:center;
    width:30px;
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
}

#results { 
    display: block;
    border: 1px solid black;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
}
#card0 { 
    background-color: #99ff99;
    position: absolute;
    width: 200px;
    height: 60px;
    left: 80px;
    top: 80px;
    border: 1px solid black;
    text-align: center;
    padding:20px;
    border-radius: 10px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    z-index: 1;
}
#card1 { 
    background-color: #ca44f3;
    position: absolute;
    width: 200px;
    height: 60px;
    left: 140px;
    top: 140px;
    border: 1px solid black;
    text-align: center;
    padding:20px;
    border-radius: 10px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    z-index: 1;
}
#card2 { 
    background-color: #99cc99;
    position: absolute;
    width: 200px;
    height: 60px;
    left: 210px;
    top: 210px;
    border: 1px solid black;
    text-align: center;
    padding:20px;
    border-radius: 10px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    z-index: 1;
}
#card3 { 
    background-color: #33ccff;
    position: absolute;
    width: 200px;
    height: 60px;
    left: 280px;
    top: 280px;
    border: 1px solid black;
    text-align: center;
    padding:20px;
    border-radius: 10px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    z-index: 1
}
.empty{height:200px;
clear:both;}